.App {
  display: grid;
  background-color: #dadbd3;
  height:100vh;
  place-items: center;
}

.app_body {
  display: flex;
  height:90vh;
  margin-top: -50px;
  width:90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
  background-color: rgb(245, 244, 244);
}