.sidebar {
    display: flex;
    flex-direction: column;
     flex:.35; 
}
.sidebar_search {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px;
}
.sidebar_search_container {
    display: flex;
    align-items: center;
    background-color: rgba(255, 254, 254, 0.856);
    width: 100%;
    height: 40px;
    border-radius: 10px;
}
.sidebar_search_container>.MuiSvgIcon-root {
    color: gray;
    padding: 10px;
}
.sidebar_search_container>input {
    border:none;
    margin-left: 10px;
}
.sidebar_header{
    display: flex;
    justify-content: space-between;
    padding:20px;
}
.sidebar_header_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 10vw;
}
.sidebar_chats {
    flex:1;
    overflow: scroll;
    background-color: white;
}

.sidebar_nav {
    display: flex;
    justify-content: space-evenly;
}

.sidebar_nav>.MuiSvgIcon-root {
    color: rgb(104, 103, 103);
    padding: 10px;
}