.sidebarchat {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #cecec5;
}

.sidebarchat:hover {
    background-color: rgb(243, 236, 236);
}

.sidebarchat_info >h2 {
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarchat_info {
    margin-left: 15px;
}

a {
    text-decoration: none !important;
    color: black;
}
